:root{
    --brandprimary: #4caf4f;
    --neutralsilver: #f5f7fa;
    --neutralgrey: #4d4d4d;
    --textgray: #18191f;
    --font: 'Inter', sans-serif;
    --pcolor: #717171;
    --neutralblack: #263238 ;
    --grayinput: #d9dbe1;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Nav section*/
nav li {
    list-style: none;
}
ul.menu{
    display: flex;
    gap: 3rem;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}
.navbar{
    background-color: var(--neutralsilver);
    width: 100%;
    gap: 0;
}
.navbar-container{
    align-items: center;
    
    display: flex;
    gap: 3rem;
    justify-content: space-around;
    padding: 1rem 1rem;
}
.btn-container{
    display: flex;
    align-items: center;
    gap: 3rem;
}
.menu li a{
    text-decoration: none;
    padding: auto;
    color: var(--textgray);
    font-family: var(--font);
    font-weight: 400;
}
.btn-login{
    border: none;
    padding: 1rem 4rem;
    border-radius: 90px;
    font-size: 15px;
    color: var(--brandprimary);
    background-color: transparent;

    cursor: pointer;
}
.btn-signup{
    border: none;
    padding: 1rem 2rem;
    border-radius: 8px;
    font-size: 15px;
    color: white;
    background-color: var(--brandprimary);
    margin-right: 1rem;
    cursor: pointer;
}
/*Hero section*/
.hero{
    background-color: var(--neutralsilver);

}
.hero-container{
    margin: 0 auto;
    padding: 4rem 6rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}
.hero-title{
    font-family: var(--font);
    font-size: 3rem;
    line-height: 1.1;
    margin-bottom: 1rem;
    height: auto;
    font-weight: 600;
    color: var(--neutralgrey);
    width: 60%;
}
.hero-title span {
    color: var(--brandprimary);
}
.dot{
    
    margin-left: 50%;
    
}
.hero-desc{
    font-family: var(--font);
    font-weight: 400;
    color: var(--neutralgrey);
    width: 600px;
}
.hero-content{
    height: auto;
}
.hero-image{
    position: relative;
    left: 1000px;
}
.btn-register{
    margin-top: 1rem;
    border: none;
    padding: 1rem 2rem;
    border-radius: 8px;
    font-size: 15px;
    color: white;
    background-color: var(--brandprimary);
    margin-right: 1rem;
    cursor: pointer;
}
/*Clients Section*/
.clients {
  text-align: center;
  padding: 60px 0;
  background: white;
}
.clients h2{
    font-family: var(--font);
    font-weight: 600;
    color: var(--neutralgrey);
    font-size: 3rem;
}
.clients p{
    font-family: var(--font);
    font-weight: 400;
    color: var(--pcolor);
    font-size: 1rem;

}

.client-logos {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

/* Cards Section */
.cards {
    margin-left: 10%;
    margin-right: 10%;
  display: flex;
  gap: 30px;
  margin-top: 40px;
  justify-content: space-around;
}

.card {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2);
  background: white;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
}
.card h3{
    
    margin-top: 1rem;
    
    font-family: var(--font);
    font-weight: 700;
    color: var(--neutralgrey);
    font-size: 2rem;
}
.card p{
    
    margin-top: 1rem;
    width: 40%;
    font-family: var(--font);
    font-weight: 400;
    color: var(--neutralgrey);
    font-size: 1rem;
    margin-left: 30%;
}
/*Community Section*/
.community-container h2{
    font-family: var(--font);
    font-weight: 600;
    color: var(--neutralgrey);
    text-align: center;
    font-size: 2rem;
}
.community-container p{
    font-family: var(--font);
    font-weight: 400;
    color: var(--pcolor);
    text-align: center;
}

/* ===== FEATURE ===== */
.feature {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 80px 0;
  width: 70%;
}
.feature.container{
    margin-left: 20%;
    img{
        height: auto;
    }
}

.desc-sec h2{
    font-family: var(--font);
    font-weight: 600;
    color: var(--neutralgrey);
    font-size: 3rem;
    width: 80%;
}
.desc-sec p{
    font-family: var(--font);
    font-weight: 400;
    color:  var(--pcolor);
    font-size: 1rem;
    width: 80%;
}
.learn-pos{
    margin-top: 2rem;
}
.btn-learnmore{
    
    border: none;
    padding: 1rem 3rem;
    border-radius: 8px;
    font-size: 15px;
    color: white;
    background-color: var(--brandprimary);
    cursor: pointer;
    text-decoration: none;
}
/* ===== STATS ===== */
.stats {
  background: var(--neutralsilver);
  padding: 60px 0;
}

.stats-grid {
  display: flex;
  justify-content: space-around;
}

.numbers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.stat-container{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.info-stat{
    display: block;
    align-items: center;
    height: auto;
    margin-top: 2rem;
    width: 27%;
}
.info-stat h2{
    font-family: var(--font);
    font-weight: 600;
    color: var(--neutralgrey);
    font-size: 3rem;
    span{
        color: var(--brandprimary);
    }
}
.info-stat p{
    color: var(--pcolor);
    font-family: var(--font);
    font-weight: 400;
}
strong{
    font-family: var(--font);
    font-weight: 700;
    color: var(--neutralgrey);
    font-size: 2rem;
}
.stat-container span{
    font-family: var(--font);
    font-weight: 400;
    color: var(--pcolor);
}

/*Feature tesla section*/

.ts.tesla{
    
    .tesla-image{
        height: auto;
        margin-left: 20%;
    }
}
.ts {
    display: flex;
    justify-content: space-around;
  margin-left: 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 20px 0;
  width: 100%;
  background-color: var(--neutralsilver);
}
.author{
    align-items: left;
    margin-top: 1rem;
    height: auto;
    p{
        margin-top: 1rem;
        height: auto;
    }
    h3{
        font-family: var(--font);
        font-weight: 600;
        color: var(--brandprimary);
        font-size: 1.5rem;

    }
}
.brandys{
    margin-top: 5rem;
}

/*Articles & articles cards*/
.articles h1{
    margin-top: 3%;
    text-align: center;
    font-family: var(--font);
    font-size: 3rem;
    color: var(--neutralgrey);
}
.articles p{
    text-align: center;
    margin-top: 1%;
    text-align: center;
    font-family: var(--font);
    font-size: 1rem;
    color: var(--pcolor);
    display: flex;
    justify-content: center;
    
}

.article-cards{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    margin-bottom: -10%;
}
.art-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.art{
    margin-top: 4rem;
    z-index: 10;
}
/* ===== CTA ===== */
.cta {
  text-align: center;
  padding: 80px 0;
}
.getdemo{
    margin-top: 2rem;
}
.btn-getdemo{
    border: none;
    padding: 1rem 3rem;
    border-radius: 8px;
    font-size: 20px;
    color: white;
    background-color: var(--brandprimary);
    margin-top: 1rem;
    cursor: pointer;
}
.cta{
    background-color: var(--neutralsilver);
}
.cta h2{
    font-family: var(--font);
    font-size: 3rem;
    color: var(--neutralblack);
}
/*Footer Section*/
.footer-main{
    padding: 4rem 10%;
    background-color: var(--neutralblack);
}
.footer-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}
.footer-brand h3{
    font-family: var(--font-title);
    margin-bottom: 1rem;
    font-size: 2rem;
}
.footer-brand p{
    margin-top: 1rem;
    width: 230px;
    font-size: 0.9rem;
    line-height: 1.6;
    color: var(--neutralsilver);
}
.footer-social{
    display: flex;
    gap: 1rem;
    margin-top: 4rem;
}
.footer-links h4{
    font-size: 0.9rem;
    margin-bottom: 1rem;
    letter-spacing: 2px;
    color: white;
    font-family: var(--font);

}
.footer-links ul{
    list-style: none;
    padding: 0;
}
.footer-links li{
    margin-bottom: 0.5rem;
}
.footer-links a{
    text-decoration: none;
    color: var(--neutralsilver);
    font-size: 0.9rem;
    font-family: var(--font);
}
.footer-bottom{
    padding: 1.5rem 13.8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.85rem;
    background-color: #f0f0f0;
    border-top: 1px solid #d9d7d7;
}
/*email input*/
.email-icon{
    width: 18px;
    height: 18px;
    fill: currentColor;
    flex-shrink: 0;
}
.search{
    display: flex;
    align-items: center;
    gap: 0.5rem;

    background-color: rgb(166, 166, 166);
    padding: 0.5rem 0.75rem;
    border-radius: 5px;
    width: 300px;
    height: 3rem;
}
.search-icon {
    fill: currentColor;
    flex-shrink: 0;
}
.email-input {
    border: none;
    background: none;
    outline: none;
    font-family: var(--font);
    font-size: 1rem;
    width: 300px;
    color: var(--grayinput);
}
a{
    text-decoration: none;
}
/*Responsive Section*/
@media (max-width: 768px) {
  .hero,
  .feature,
  .stats,
  .cards {
    flex-direction: column;
    text-align: center;
  }

  .nav-links {
    display: none;
  }
}
